.apodImage {
    margin: 10px 10px 10px 10px;
    max-width: 450px;
}
.image-style {
    max-width: 450px;
    max-height: 450px;
  
}

#canvas {
    position: absolute;
    width: 100%;
    z-index: -1;
}

#container {
    z-index: 1;

}
